.cards {
    display: flex;
    padding-left: 5px;
    padding-right: 8px;
    justify-content: space-between;    
    @media (max-width: 820px) {
        flex-wrap: wrap;
        padding: 0 19%;  
    }  
    @media (max-width: 660px) {
        flex-wrap: wrap;
        padding: 0 11%;  
    } 
    @media (max-width: 530px) {
        padding: 0;  
    }  
    &__item {
        width: 120px;        
        text-align: center;          
        &:nth-child(3) {
            margin-right: 10px;
            @media (max-width: 820px) {
                margin-right: 0;            
            }            
        }       
        &:hover {
            .cards__photo {
                border: 3px solid $link-color-hover; 
                margin: -3px;
                margin-bottom: 19px;                                             
            }
            .cards__text {
                color: $link-color-hover; 
                border-bottom: none;                
            }
        }
        @media (max-width: 820px) {           
            
            padding-bottom: 20px;                   
                       
        }
        @media (max-width: 540px) {
            margin: 0 9%;
                                       
        }
        @media (max-width: 425px) {
            margin: 1%;
                                       
        }
    }
    &__photo {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;        
        margin: 0 auto; 
        margin-bottom: 22px; /* для pp*/             
        &--comar {
            background: url(pictures/comar.jpg) no-repeat -1px;
        }
        &--tarakan {
            background: url(pictures/tarakan.jpg) no-repeat -1px;
        }
        &--grizuni {
            background: url(pictures/grizuni.jpg) no-repeat -1px;
        }
        &--ptizi {
            background: url(pictures/ptizi.jpg) no-repeat -1px;
        }
        &--mishi {
            background: url(pictures/mishi.jpg) no-repeat -1px;
        }
        &--krisi {
            background: url(pictures/krisi.jpg) no-repeat -1px;
        }
    }
    &__text {
        display: inline-block;        
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;        
        color: $black-color;
        border-bottom: 2px solid $link-color-hover;
    }
}