.feedback {
    font-size: 14px;  
    font-weight: bold;
    line-height: 1.7em; 
    &--login {
        width: 190px;
    }         
    &__font {        
        color: $black-color; 
        text-decoration-color: $link-color;
        text-decoration-style: dashed;
        &:hover {
            color: $link-color-hover;
        }           
    }
}
