.font-link {
    font-size: 14px;
    color: $black-color;        
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid $link-color-hover;
    line-height: 1em;
    &:hover {
        color: $link-color-hover; 
    }
}
