.footer-end {
    display: flex;   
    justify-content: space-between; 
    align-items: flex-end; 
    @media (max-width: 570px) {
        flex-wrap: wrap;
    }      
    &__social {
    display: flex;
    }
    &__text {
        color: $white-color;
        font-size: 14px;
        &--develop {
            @media (max-width: 570px) {
            width: 100%;
            margin-top: 10px;
            }
        } 
    }
    &__link {
        color: $black-color;  
        &:hover {
            color: $white-color;
        }      
    }
    &__social {
        display: flex;
        width: 138px;
        justify-content: space-between;
        margin-right: 23%;
        @media (max-width: 740px) {
            margin-right: 0;
        }
                      
    }
    &__icon {
        display: block;
        width: 21px;
        height: 20px;
        border: solid 1px $black-color;
        border-radius: 1px;
        &:hover {
            border: none;
            margin: 1px;
        }
    }
}