.main-menu {    
    width: 100%;      
    background-color: $mm-color;
    display: flex; 
    justify-content: space-around;
    @media (max-width: 740px) {
        flex-wrap: wrap;        
    }  
    @media (max-width: 555px) {
        flex-direction: column;        
    }                 
    &__item{             
        background-color: $mm-color;
        padding-top: 14px;
        padding-bottom: 12px;
        &:hover .main-menu__sub {            
            display: block;           
        } 
        @media (max-width: 555px) {
           text-align: center;
           overflow: hidden; 
           border-bottom: 1px solid $black-color; 
           padding: 0px;
           &:last-child {
               border: none;
           }       
        }                         
    } 
    &__link{
        background-color: $mm-color;
        text-decoration: none;
        color: $black-color;
        font-size: 15px;
        text-transform: uppercase;         
        position: relative;
        @media (max-width: 740px) {
            margin: 0 25px;        
        }
        @media (max-width: 555px) {            
            display: block; 
            padding: 15px 0px;
            margin: 0px;                           
        }                
        &:hover {
            color: $white-color;
        }         
        &--cont {
            &:after {
                content:""; 
                position: absolute;
                right: -10px;
                top: 10px;               
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 5px solid $black-color; 
                @media (max-width: 555px) {            
                    right: 20px;
                    top: 20px;                           
                }               
            }            
        }        
    }
    &__sub {
        display: none;
        text-align: center;       
        &-link {
            text-decoration: none;
            color: $black-color;
            font-size: 14px;
            text-transform: uppercase;
            &:hover {
                color: $white-color;            
            }  
        }
    }    
}