.p-footer {
    padding-top: 26px;
    padding-bottom: 35px;
    background-color: $link-color-hover;
    &__body {        
        margin-left: 10px;        
    }  
    &__footer {
        margin-top: 25px;
        margin-left: 5px; 
    }   
}