.phone {
    &__city {
        font-size: 12px;
        margin-bottom: 5px;
    }
    &__code {
        text-decoration: none;
        color: $black-color;
        font-size: 19px;        
        margin-left: 7px;
    }
    &__font {
        font-weight: bold;        
    }
}