.reviews {
    width: 65%;
    &__member {
        display: block;
        margin-left: 32%;
        margin-bottom: 28px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 75px;
            height: 75px;
            right: 108%;
            top: -2px;           
            border-radius: 50%; 
            background: url(pictures/face.jpg)
        }
    } 
    &__name {
        font-weight: bold;
        font-size: 18px;
    } 
    &__description {        
        color: $present-story-color;
        font-size: 14px;
        margin-top: 5px;
        line-height: 1.4em;
        width: 70%;
        &--subscr {
            width: 90%;
            line-height: 1.3em;
            margin-bottom: 13px;            
        }
    }
    &__story  {
        display: block;
        width: 90%;
        font-size: 14px;
        line-height: 1.4em; 
        margin-bottom: 18px;     
    } 
    &__quotes {
        color: $link-color-hover;
        font-size: 28px;
        position: relative;
        top: 2px;
        line-height: 0em;
    }  
    &__link {        
        font-size: 14px;
        color: $black-color;
        text-decoration: none;
        border-bottom: 1px solid $link-color-hover;
        
    }  
}