.reviews {
    width: 265px;
    &__member {
        display: block;
        padding-left: 92px;
        margin-bottom: 26px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 75px;
            height: 75px;
            right: 71%;
            top: -2px;           
            border-radius: 50%; 
            background: url(pictures/face.jpg)
        }
    } 
    &__name {
        font-weight: bold;
        font-size: 18px;
    } 
    &__description {      
        margin-top: 5px;
        line-height: 1.4em;
        width: 150px;        
    }
    &__story  {
        display: block;
        width: 265px;
        font-size: 14px;
        line-height: 1.45em; 
        margin-bottom: 14px;             
    } 
    &__quotes {
        color: $link-color-hover;
        font-size: 28px;
        position: relative;
        top: 2px;
        line-height: 0em;
    }
             
}