.text-link {
    font-size: 14px;
    color: $black-color;        
    text-decoration: none;    
    border-bottom: 1px solid $link-color-hover;    
    &:hover {
        color: $link-color-hover; 
    }
}
