$font-primary: "PT Sans", Arial, Georgia;
$black-color: #000000;
$link-color: #55ab00;
$link-color-hover: #82c044;
$search-border: #bfbfbf;
$search-btn: #0675cb;
$mm-color: #f6b213;
$white-color: #fff;
$present-story-color: #909090;
$cards-block-bottom: #ececec;
$form-icons: #e6e6e6;
$form-error: #ff5c5c;
$mm-active:#766357;
$mm-active-hvr:#604e43;
$mm-active-dwn:#d6d0cc;
$mm-dwn: #b2b2b2;
$outline-color:#a6c8;