$font-primary: "PT Sans", Arial, Georgia;
$black-color: #000000;
$link-color: #55ab00;
$link-color-hover: #82c044;
$search-border: #bfbfbf;
$search-btn: #0675cb;
$mm-color: #f6b213;
$white-color: #fff;
$present-story-color: #909090;
$cards-block-bottom: #ececec;
